<div class="container">
    <div class="row c2">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <mat-card>
                <mat-card-title>
                    Total Order Count
                </mat-card-title>
                <mat-card-content>
                    {{totalOrderCount}}
                </mat-card-content>
                <mat-card-footer>
                    <!-- <a [routerLink]="['../order-list']">Order<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                </mat-card-footer>
            </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <mat-card>
                <mat-card-title>
                    Confirmed Order Count
                </mat-card-title>
                <mat-card-content>
                    {{Order_Process_Count}}
                </mat-card-content>
                <mat-card-footer>
                    <!-- <a [routerLink]="['../order-list']">Order<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                </mat-card-footer>
            </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <mat-card>
                <mat-card-title>
                    Delivered Order Count
                </mat-card-title>
                <mat-card-content>
                    {{Order_Completed_Count}}
                </mat-card-content>
                <mat-card-footer>
                    <!-- <a [routerLink]="['../order-list']">Order<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="data-table">

                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <!-- <th>Sr. No.</th> -->
                                <th>Order Id</th>
                                <th>User Id</th>
                                <th>Item Name</th>
                                <th>Location</th>
                                <th>Meeting Room Name</th>
                                <th>Item Quantity</th>
                                <th>Order Date</th>
                                <th>Order Status</th>
                                <!-- <th scope="col" style="width: 115px;">Actions</th> -->
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr *ngFor="let item of order_array | paginate: {itemsPerPage: 10, currentPage: p} let i = index">
                                <!-- <td>{{i+1}}</td> -->
                                <td>{{item.cart_Id}}</td>
                                <td>{{item.UserId}}</td>
                                <td>{{item.Item_Name | titlecase}}</td>
                                <td>{{item.Location_Name | titlecase}}</td>
                                <td>{{item.Meeting_Name | titlecase}}</td>
                                <td>{{item.Total_Cart_Quantity | number}}</td>
                                <td *ngIf="item.Order_date == null else dtBlock">--</td>
                                <ng-template #dtBlock>
                                    <td>{{item.Order_date | date: "dd/MM/yyyy hh:mm:ss a"}}</td>
                                </ng-template>
                                <td *ngIf="item.Order_Delivery_Remark == null">Confirmed</td>
                            </tr>
                        </tbody>
                    
                    </table>
                </div>
                
                <div class="pagination d-flex justify-content-end">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>